<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ConstStyle.css">
    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="icon" type="image/svg+xml" 
    href="/images/Terraria/宠物/Black_Cat_(broom).webp"/>
    <title><%= title %></title>
</head>
<body>
    <div class="index_container">
        <div class="index_head_container">
            <div class="index_head_item">
                Link to <a href="./users">/users</a>
            </div>
            <div class="index_head_item">
                Link to <a href="./images">/images</a>
            </div>
            <div class="index_head_item">
                Link to <a href="./mysql">/mysql</a> 
            </div>                    
        </div>
    </div>
</body>
</html>